.box {
    background-color: #F6F8F9;
    position: relative;
}
.icon{
    display: none
}
/* დაიწყო ჰედერი */
header{
    width: 1440px;
    height: 51px;
    margin: 0 auto;
    display: flex;
    padding: 20px 20px 11px 20px;
    gap: 75%;
    background-color: #F6F8F9;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.header{
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.ml{
    animation-name: foto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes foto{
    0% {
        transform: rotate(0deg);
        top: 0px;
    }

    100% {
        transform: rotate(360deg);

    }
}
ul{
    display: flex;
    gap: 31px;
}
li{
    font-size: 11px;
    color: #343638;
    cursor: pointer;
}
li:hover{
    border-bottom: 3px solid red;
}
.a{
    color: #343638;
    font-weight: bolder;
}

/* დაიწყო სექცია 1 */

.section1 {
    height: 599px;
    display: flex;
}
.foto {
    width: 60%;
    height: 100%;
    background-image: url(../image/bigfoto.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.foto:hover {
    filter: grayscale(100%);
}
.world_news {
    width: 65%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 176px auto 176px auto;
}
.p1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
}
h1::after {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: white;
    display: block;
    margin-top: 30px;
}
.p2 {
    font-size: 16px;
    color: white;
}
button {
    width: 25%;
    height: 40px;
    font-size: 11px;
    color: white;
    background-color: #FA6980;
    border-radius: 10px;
}
.more_news {
    width: 40%;
    height: 100%;
    background-color: white;
}
.m {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text {
    width: 70%;
    height: 70%;
    margin: 100px auto 100px auto;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
h2::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #d6dadf;
    display: block;
    margin-top: 20px;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    color: #FA6980;
    margin-bottom: 20px;
}
.p3 {
    font-size: 16px;
    font-weight: bold;
    color: #202124;
    margin-bottom: 10px;
}
.p4 {
    margin-bottom: 10px;
}
.p4,
.p5 {
    font-size: 16px;
    color: #A6ADB4;
    line-height: 1.5;
}

/*დაიწყო სექცია 2*/

.section2 {
    width: 100%;
    height: 410px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F6F8F9;
}
.section {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.cards {
    width: 100%;
    height: 350px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.card1,.card2,.card3 {
    background-color: white;
    width: 32%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h4 {
    font-size: 24px;
    font-weight: bold;
}
.foto_card {
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
    border-radius: 7px;
}
.grass {
    background-image: url(../image/river.svg);
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: all 4s ease;
}
.grass:hover {
    opacity: 0.5;
    cursor: pointer;
}
.umbrella {
    background-image: url(../image/umbrella.svg);
    background-position: center;
    background-size: cover;
}
.umbrella:hover {
    box-shadow: 10px 20px 15px rgb(235, 47, 47),
        -10px -20px 15px rgb(235, 47, 47);
    cursor: grab;
}
.sky {
    background-image: url(../image/sky.svg);
    background-position: center;
    background-size: cover;
    cursor: cell;
}
.sky:hover {
    transform: scaley(2);
    transform: scaley(1.5);
}
.p12 {
    width: 80%;
    height: 40%;
    margin: 0 auto;
}
.p_card2 {
    line-height: 1.5;
}

/*დაიწყო სექცია 3*/

.section3 {
    background-color: #F6F8F9;
    width: 100%;
    height: 1000px;
    margin-top: 40px;
}
.big_div {
    width: 80%;
    height: 900px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.big_foto {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.big_foto1,.big_foto2 {
    width: 100%;
    height: 46%;
}
.big_foto1 {
    background-image: url(../image/brige.svg);
}
.big_foto2 {
    background-image: url(../image/forest.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.big_foto_p {
    width: 90%;
    height: 70%;
    color: white;
    margin: 40px auto 66px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.small_foto {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small_foto1,.small_foto2,.small_foto3 { 
    width: 100%;
    height: 31%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}
.sfd1,.sfd2,.sfd3 { 
    width: 100%;
    height: 70%;
    border-radius: 5px;
}
.sfd1 {
    background-image: url(../image/eleph.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: eleph;
    animation-duration: 7s;
}
@keyframes eleph {
    50% {
        transform: scale(150%);
    }
}
.sfd2 {
    background-image: url(../image/pearl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sfd3 {
    background-image: url(../image/road.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*ფუტერი*/

footer {
    width: 100%;
    background-color: #A6ADB4;
}
.footer {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 53px 135.8px 61px 45px;
}
.logo {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.f {
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #CBD0D3;
    font-weight: bold;
}
.fp {
    font-size: 13px;
}
.nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
i {
    color: white;
}

/*ფაჯე 2*/
/*სექცია*/

.sectionwn {
    width: 80%;
    height: 495px;
    margin: 0 auto 37px auto;
    background-color: azure;
    display: flex;
    margin-top: 51px;
}
.fotown {
    width: 50%;
    height: 100%;
    background-image: url(../image/sahara.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wnp {
    color: white;
    font-size: 30px;
    position: relative;
    top: 47%;
    left: 33%;
}
.textwns {
    height: 100%;
    width: 50%;
    padding: 118px 0 125px 0;
    background-color: white;
}
form { 
    width: 70%;
    height: 252px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sd {  
    width: 100%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}
input {
    height: 40px;
    border-radius: 4px;
    border: 2px solid grey;
}
button {
    width: 50%;
    height: 40px;
    background-color: #FA6980;
    border-radius: 5px;
    border: none;
}
button:hover {
    background-color: #343638; 
    cursor: cell;
}

/*სექციის ტექსტი*/

.sectiontext {
    width: 80%;
    height: 253px;
    margin: 0 auto 40px auto;
    border-bottom: 3px solid rgb(211, 209, 209);
    border-top: 3px solid rgb(211, 209, 209);
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saxe {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.avatar {
    width: 40px;
    height: 40px;
    background-image: url(../image/avatar.svg);
}
.ip {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.text11 {
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.text1 {
    font-size: 14px;
    width: 45%;
    height: 80%;
    color: #A6ADB4;
    text-align: left;
    line-height: 1.5;
}
.sectioneleph {
    width: 80%;
    height: 830px;
    margin: 0 auto 151px auto;
}
.fotoelep {
    width: 100%;
    height: 60%;
    background-image: url(../image/bideleph.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.eleptext {
    width: 100%;
    height: 40%;
}
.elp {
    width: 99.5%;
    height: 70%;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.elp1 {
    font-size: 14px;
    color: #A6ADB4;
    line-height: 1.5;
}

/*დაიწყო ტაბლეტის რეზულოცია*/

@media screen and (max-width:780px) {
    .box {
        width: 100%;
        background-color: #F6F8F9;
    }
    header {
        width: 768px;
        height: 51px;
        margin: 0 auto;
        padding: 18px 20px 18px 20px;
    }
    .header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    li:hover {
        border-bottom: none ;
    }

    /*სექცია 1*/

    .section1 {
        width: 100%;
        height: 742px;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .foto {
        width: 100%;
        height: 60%;
        background-image: url(../image/bigfoto.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .more_news {
        width: 80%;
        height: 40%;
        background-color: white;
         margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .m {
        width: 100%;
        height: 70%;
        margin-top: 10px;  
        flex-direction: unset;
    }
    .text {
        border: 5px solid pink;
        width: 100%;
        height: 90%;
        margin: auto auto;
    }
    .more {   
        width: 40%;
        height: 100%;
    }
    .p4 {
        margin-bottom: 0px;
    }

    /*დაიწყო სექცია 2*/

    .section2 {
        height: 412px;
        background-color: #F6F8F9;
    }
    .section {  
        width: 100%;
        margin: 0 auto;
    }
    .cards {
        justify-content: space-around;
    }
    .card3 {
        display: none;
    }
    .card1,.card2 {
        width: 40%;
    }

    /*სექცია 3*/

    .small_foto3 {
        display: none;
    }
    .section3 {
        background-color: #ebeff1;
        width: 100%;
        height: 1242px;
        margin-top: 40px;
    }
    .big_div {
        border: 4px solid rgb(62, 73, 62);
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap: 30px;
    }
    .big_foto {
        width: 100%;
        height: 67%;
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }
    .big_foto1,.big_foto2 {
        width: 100%;
        height: 50%;
    }
    .big_foto1 {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .small_foto {
        width: 100%;
        height: 23%;
        display: flex;
        flex-direction: unset;
        justify-content: space-around;
    }
    .small_foto1,.small_foto2 {
        width: 45%;
        height: 100%;
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
    }
    .sfp {
        margin-bottom: 20px;
    }
    .footer {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        padding: 53px 65.8px 26.5px 85px;
    }
    .logo {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .f {
        line-height: 20px;
    }
    .sectionwn {
        width: 80%;
        height: 800px;
        margin: 51px auto 37px auto;
        background-color: azure;
        display: flex;
        flex-direction: column;
    }
    .wnp {
        color: white;
        font-size: 32px;
        top: 45%;
        left: 35%;
    }
    .fotown {
        width: 100%;
        height: 50%;
        background-image: url(../image/sahara.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .textwns {
        height: 50%;
        width: 100%;
        padding: 85px 0 125px 0;
        background-color: white;
    }
    form {   
        width: 70%;
        height: 250px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .sd {      
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    label {
        margin-bottom: 10px;
        font-size: 13px;
        font-weight: bold;
    }
    input {
        height: 40px;
        border-radius: 4px;
        border: 2px solid grey;
    }
    button {
        width: 50%;
        height: 40px;
        background-color: #FA6980;
        border-radius: 5px;
        border: none;
    }

    /*სექციის ტექსტი*/

    .sectiontext {
        width: 80%;
        height: 465px;
        margin: 0 auto 40px auto;
        border-bottom: 3px solid rgb(211, 209, 209);
        border-top: 3px solid rgb(211, 209, 209);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .saxe {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .text11 {   
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60%;
    }
    .text1 {  
        font-size: 14px;
        width: 45%;
        height: 100%;
        color: #A6ADB4;
        text-align: left;
        line-height: 1.8px
    }
    .sectioneleph {
        width: 80%;
        height: 757px;
        margin: 0 auto 143px auto;
    }
    .fotoelep {
        width: 100%;
        height: 260px;
        background-image: url(../image/bideleph.svg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        border: 3px solid rgb(18, 20, 18);
    }
    .eleptext {
        width: 100%;
        height: 60%;
    }
    .elp {
        width: 99.5%;
        height: 90%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
    }
    .elp1 {
        font-size: 14px;
        height: 45%;
        color: #A6ADB4;
        line-height: 1.5; 
    }
    @keyframes eleph {
        50% {
            transform: none;
        }
    }
}
@media screen and (max-width:480px) {
    .box {
        width: 375px;
        margin: 0 auto;
    }
    @keyframes foto {
        0% {
            transform: none(0deg);
            top: 0px;
        }
        100% {
            transform: none(360deg);

        }
    }
    li:hover {
        border-bottom: none;
    }

    header{
        width: 375px;
        height: 93px;
        padding: 18px 20px 18px 20px;
    }
   nav{
    position: fixed;
    text-align: center;
    vertical-align: middle;
    padding: 40px 25px;
    margin-top: 40px; 
    top: 10%;
    right: 10%;
    width: 375px;
    height: 250px;
    background-color: white;
    border: 2px solid grey;
    display: none;
   }
   .nav_visible{
    display: block;
   }
   ul{
    flex-direction: column;
  }
   .icon{
    display: block;
  }
.icon_burger{
    background-color: #202124;
    width: 100px;
    height: 50px;
}
   .fa-bars{   
    color: rgb(26, 27, 27);
    cursor: pointer;
   }  
    .section1 {
        width: 100%;
        height: 866px;
        display: flex;
        flex-direction: column;
        margin-top:93px;
        background-color: white;
    }
    .foto {
        width: 100%;
        height: 40%;   
        background-image: url(../image/bigfoto.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .world_news { 
        width: 90%;
        height: 75%;
        display: flex;
        flex-direction: none;
        justify-content: space-between;
        margin: 61px auto 0px auto;
    }
    .more_news {
        width: 90%;
        height: 59%;
        background-color: white;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .m {
        width: 100%;
        height: 90%;
        margin-top: 10px;   
        display: flex;
        flex-direction: column;
    }
    .more {
       
        width: 100%;
        height: 40%;
    }
    .p4 {
        margin-bottom: 0px;
    }
    .section2 {
        height: 762px;
        background-color: #F6F8F9;
    }
    .section {
        width: 90%;
        margin: 0 auto;
        background-color: #F6F8F9;
    }
    .cards {
        height: 95%;
        flex-direction: column;
        justify-content: space-around;
    }
    .card3 {
        display: none;
    }
    .card1,.card2 {
        width: 100%;
        height: 45%;
    }
    .p12 { 
        width: 100%;
        height: 40%;
        margin: 0 auto;
    }

    /*სექცია 3*/

    .section3 {
        background-color: #ebeff1;
        width: 100%;
        margin-top: 20px;
    }
    .big_div { 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap: 0px;
    }
    .big_foto {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        justify-content: space-around;
    }
    .big_foto1,.big_foto2 {
        width: 100%;
        height: 45%;
    }
    .big_foto1 {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .small_foto {
        width: 100%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .small_foto1,.small_foto2,.small_foto3 {
        width: 100%;
        height: 31%;
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
    }
    .sfd1,.sfd2,.sfd3 {  
        width: 100%;
        height: 70%;
        border-radius: 5px;
    }
    .sfd3 {
        background-image: url(../image/road.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*ფუტერი*/

    footer {
        width: 100%;
        height: 143px;
        background-color: #A6ADB4;
    }
    .footer {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: initial;
        padding: 50px 50px 30px 50px;    
    }
    .logo {
        display: none;
    }
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .sectionwn {
        width: 100%;
        height: 714px;
        margin: 93px auto 40px auto;
        background-color: azure;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .wnp {
        top: 41%;
        left: 22%;
        font-weight: normal;
    }
    .fotown { 
        width: 100%;
        height: 70%;
        background-image: url(../image/sahara.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .textwns {    
        height: 80%;
        width: 100%;
        padding: 50px 0 50px 0;
        background-color: white;
    }
    form {
        width: 95%;
        height: 326px;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .sd {    
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    label {
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: bold;
    }
    input {
        height: 50px;
        border-radius: 4px;
        border: 2px solid grey;
    }
    button {
        width: 50%;
        height: 50px;
        background-color: #FA6980;
        border-radius: 5px;
        border: none;
    }

    /*სექციის ტექსტი*/

    .sectiontext {
        width: 100%;
        height: 670px;
        margin: 0 auto 20px auto;
        border-bottom: 3px solid rgb(211, 209, 209);
        border-top: 3px solid rgb(211, 209, 209);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .saxe {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;    
        margin-bottom: 10px;
    }
    .text11 {  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        height: 60%;
    }
    .text1 {
        font-size: 14px;
        width: 100%;
        height: 50%;
        color: #A6ADB4;
        text-align: left;
        line-height: 1.8;
    }
    .sectioneleph {
        width: 100%;
        height: 697px;
        margin: 0 auto 126px auto;
    }
    .fotoelep {
        width: 95%;
        margin: 0 auto;
        height: 180px;
        background-image: url(../image/bideleph.svg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .eleptext {
        width: 100%;
        height: 95%;    
    }
    .elp {
        width: 99.5%;
        height: 90%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
    }
    .elp1 {
        font-size: 14px;
        height: 40%;
        color: #A6ADB4;
        line-height: 1.5;    
    }
}